.container {
    width: 1100px;
    margin: 0 auto;
}

.content {
    display: flex;
    grid-gap: 20px 20px;
}

.content__image {
    width: 200px;
    flex: none;
}

.content__image img {
    width: 100%;
}

.content__text {
    width: 100%;
}

.content__text > p:first-child {
    margin-top: 0;
}

.detail_picture {
    width: 500px;
    display: block;
    margin: 0 auto !important;
    float: none !important;
    padding-bottom: 20px;
}